@import '../../theme';

.menu-button {
    height: 100%;
}

.title {
    @media ($mat-small) {
        display: none;
    }
}

mat-toolbar {
    z-index: 2;
    position: fixed;
    box-shadow: 0 2px 2px $shadow-color;
    padding: 0;
    a {
        text-decoration: none;
        img {
            margin: 6px 10px 0 0px;
        }
        span {
            font-size: 35px;
            font-family: monospace;
            color: mat-color($primary, default-contrast);
            position: relative;
            top: -5px;
        }
    }
}