@import '../theme';

mat-sidenav-container {
    height: 100%;
    background-color: $background-color;
    
    mat-sidenav {
        background-color: $background-color;
        bottom: 0;
        box-shadow: 3px 0 3px $shadow-color;
        left: 0;
        min-width: 260px;
        padding: 0;
        position: fixed;
        top: 64px;
        @media ($mat-small) {
            top: 56px;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        height: calc(100% - 64px);
        margin: 64px 0 0;
        position: relative;
        @media ($mat-small) {
            height: calc(100% - 56px);
            margin: 56px 0 0;
        }
    
        .content {
            display: flex;
            flex: 1 0 auto;
        }
    
        .footer {
            flex: 0 0 auto;
        }
    }
}