@import '../theme';

$background: map-get($theme, background);

mat-sidenav-container {
    height: 100%;
    
    mat-sidenav {
        background-color: mat-color($background, dialog);
        bottom: 0;
        box-shadow: 5px 0 5px invert(mat-color($background, card, 0.25));
        left: 0;
        min-width: 260px;
        padding: 0;
        position: fixed;
        top: 64px;
        @media ($mat-small) {
            top: 56px;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        height: calc(100% - 64px);
        margin: 64px 0 0;
        position: relative;
        @media ($mat-small) {
            height: calc(100% - 56px);
            margin: 56px 0 0;
        }
    
        .content {
            display: flex;
            flex: 1 0 auto;
        }
    
        .footer {
            flex: 0 0 auto;
        }
    }
}