@import '~@angular/material/theming';

//color palettes
$primary: mat-palette($mat-grey, 800);
$accent: mat-palette($mat-yellow, 700);
$warn: mat-palette($mat-red);

//site theme
$theme: mat-light-theme($primary, $accent, $warn);

//standard colors
$background-color: mat-color(map-get($theme, background), background);
$shadow-color: invert(mat-color(map-get($theme, background), card, 0.25));