@import 'theme';

@include mat-core();
@include angular-material-theme($theme);

$palette: map-get($theme, primary);

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background-color: mat-color(map-get($theme, background), card);
}

::-webkit-scrollbar-thumb {
    background-color: mat-color($palette, 900);
    border-radius: 8px;
}